<div class="content">
  <div class="mail-w3ls">
    <div class="container">
      <h2 class="tittle"><%= t ".mail_us" %></h2>
      <div class="mail-grids">
        <div class="mail-top">
          <div class="col-md-4 mail-grid">
            <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
            <h5><%= t ".address" %></h5>
            <p><%= t ".detail_adress" %></p>
          </div>
          <div class="col-md-4 mail-grid">
            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
            <h5><%= t ".phone" %></h5>
            <p><%= t ".detail_phone" %></p>
          </div>
          <div class="col-md-4 mail-grid">
            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
            <h5><%= t ".email" %></h5>
            <p><%= t ".e_mail" %><a href="mailto:example@mail.com"> <%= t ".detail_email" %>
              </a></p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="map-w3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.6419028861364!2d105.79912235013884!3d21.006986885941494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aca167cc61d5%3A0xad4648c5f10968f6!2sToong+Hoang+Dao+Thuy!5e0!3m2!1svi!2s!4v1478504653212"  allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
