<h2 class="tittle text-center"><%= t ".your_cart"%></h2>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="empty-all">
        <i class="fa fa-trash-o"></i>
        <%= link_to t("products.empty"), cart_clear_path, class: "btn btn-danger"%>
      </p>
      <table class="cart table table-hover">
        <thead>
          <tr class="info row">
            <th class="col-md-1"><%= t "products.name" %></th>
            <th class="col-md-3"><%= t "products.description" %></th>
            <th class="col-md-1"><%= t "products.price" %></th>
            <th class="col-md-4">
              <span class="product-cart-image"><%= t "products.image" %></span>
            </th>
            <th class="col-md-1">
              <span class="product-cart-quantity">
                <%= t "products.quantity" %>
              </span>
            </th>
            <th class="col-md-2"></th>
          </tr>
        </thead>
        <tbody>
          <% @product_quantity.each do |product, quantity|%>
          <tr class="row">
            <td class="col-md-1">
              <%= link_to product.product_name, product_path(product) %></td>
            <td class="col-md-3"><%= product.description %></td>
            <td class="col-md-1 price"><%= product.price %></td>
            <td class="cart-image" class="col-md-4">
              <%= image_tag product.image ? product.image.url : Settings.image,
                class: "img-responsive" %>
            </td>
            <td class="col-md-1"><%= quantity %></td>
            <td class="col-md-2">
              <%= link_to t(".edit"),
                "#", class:"btn btn-info" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
