<tr>
  <td><%= category.category_name %></td>
  <td><%= category.description %></td>
  <td><%= category.left_node %></td>
  <td><%= category.right_node %></td>
  <td><%= category.depth %></td>
  <td>
    <%= link_to t(".edit"), edit_admin_category_path(category.id) %>
  </td>
  <td><%= link_to t(".delete"),"#" %></td>
  <td>
    <%= link_to t(".add"), "/admin/categories/new?parent_id=#{category.id}" %>
  </td>
</tr>
