<div id="my_carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#my_carousel" data-slide-to="1"></li>
    <li data-target="#my_carousel" data-slide-to="2"></li>
    <li data-target="#my_carousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "b1.jpg", class: "img-responsive" %>
    </div>
    <div class="item">
      <%= image_tag "b2.jpg", class: "img-responsive" %>
    </div>
    <div class="item">
      <%= image_tag "b3.jpg", class: "img-responsive" %>
    </div>
    <div class="item">
      <%= image_tag "b4.jpg", class: "img-responsive" %>
    </div>
  </div>
  <a class="left carousel-control" href="#my_carousel" role="button"
    data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"><%= t ".previous" %></span>
  </a>
  <a class="right carousel-control" href="#my_carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"><%= t ".next" %></span>
  </a>
</div>
<div class="top2">
  <div class="container">
    <h2 class="text-center"><%= t ".advanced_search" %></h2>
    <%= form_tag products_path, method: :get, class:
      "form-search-product" do %>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="col-md-4"><%= t ".trademark" %></td>
            <td class="col-md-8">
              <%= image_tag Settings.image_trade_1,
                class: "img-responsive trade_image" %>
              <%= image_tag Settings.image_trade_2,
                class: "img-responsive trade_image" %>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <%= t ".price" %>
            </td>
            <td class="col-md-8">
              <div class="row">
                <div class="col-md-2">
                  <%= t ".min" %>
                </div>
                <div class="col-md-4">
                  <%= number_field_tag :min_price, params[:min_price],
                    class: "form-control", min: "1" %>
                </div>
                <div class="col-md-2">
                  <%= t ".max" %>
                </div>
                <div class="col-md-4">
                  <%= number_field_tag :max_price, params[:max_price],
                    class: "form-control", min: "1" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="col-md-4"><%= t ".quantity" %></td>
            <td class="col-md-8">
              <div class="row">
                <div class="col-md-2">
                  <%= t ".min" %>
                </div>
                <div class="col-md-4">
                  <%= number_field_tag :min_quantity, params[:min_quantity],
                    class: "form-control", min: "1" %>
                </div>
                <div class="col-md-2">
                  <%= t ".max" %>
                </div>
                <div class="col-md-4">
                  <%= number_field_tag :max_quantity, params[:max_quantity],
                    class: "form-control", min: "1" %>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-4">
          <%= select_tag :category, options_for_select(@categories.collect {|c|
            [c.category_name, c.id]}),
            {class: "btn btn-default", id: "category_select",
              include_blank: t(".categories")} %>
        </div>
        <div class="col-md-8 text-search">
          <%= text_field_tag :product_name, params[:product_name],
            class: "form-control input-lg", placeholder: t(".enter_name_product")
          %>
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div class="button-tag">
        <%= submit_tag "" %>
      </div>
    <% end %>
    <h2 class="text-center"><%= t ".list_products" %></h2>
    <div class="row">
      <div class="col-md-12">
        <%= render @product_support.search %>
      </div>
      <div class="col-md-12 pagi">
        <%= will_paginate @product_support.search %>
      </div>
    </div>
    <h2 class="text-center"><%= t ".new_products" %></h2>
    <div class="row newest-product">
      <%= render @product_support.newest_products %>
    </div>
    <h2 class="best-sl text-center"><%= t ".best_seller_products" %></h2>
    <div class="row best-product">
      <%= render @product_support.best_sellers %>
    </div>
    <h2 class="best-sl text-center"><%= t ".recent_view_products" %></h2>
    <div class="row recent-view-product">
      <%= render @product_support.recent_views %>
    </div>
  </div>
</div>
